
/*******************************公用效果******************************************/
.loading-background {
    position: absolute;
    background-color: rgba(217,217,217,0.15);
}

.loading {
    position: absolute;
    display: inline-block;
    /*width: 100px;height: 100px;*/
    border: 1px solid blue;
}
/***************************方块加载效果********************************/
.throbber-loader-con {
    display: inline-block;
}

    .throbber-loader-con > div {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        background: #dde2e7;
    }

.throbber-loader1 {
    animation: throbber-loader 2000ms 300ms infinite;
    -webkit-animation: throbber-loader 2000ms 300ms infinite;
}

.throbber-loader2 {
    animation: throbber-loader 2000ms 100ms infinite;
    -webkit-animation: throbber-loader 2000ms 100ms infinite;
}

.throbber-loader3 {
    animation: throbber-loader 2000ms 500ms infinite;
    -webkit-animation: throbber-loader 2000ms 500ms infinite;
}

.throbber-loader4 {
    animation: throbber-loader 2000ms 900ms infinite;
    -webkit-animation: throbber-loader 2000ms 900ms infinite;
}

.throbber-loader5 {
    animation: throbber-loader 2000ms 700ms infinite;
    -webkit-animation: throbber-loader 2000ms 700ms infinite;
}

@keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    25% {
        background: #6b9dc8;
    }

    50% {
        background: #dde2e7;
    }

    75% {
        background: #6b9dc8;
    }

    100% {
        background: #dde2e7;
    }
}

@-webkit-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    25% {
        background: #6b9dc8;
    }

    50% {
        background: #dde2e7;
    }

    75% {
        background: #6b9dc8;
    }

    100% {
        background: #dde2e7;
    }
}
/***************************转动加载效果********************************/
.rotate-loader-con {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 31px;
    border: 1px solid red;
}

    .rotate-loader-con > div {
        width: 4px;
        height: 10px;
        position: absolute;
        background-color: rgba(221,226,231,0.75);
        border-radius: 3px 3px 0 0;
        animation: rotate-loader 700ms infinite normal;
        -webkit-animation: rotate-loader 700ms infinite normal;
    }

    .rotate-loader-con > .rotate-loader1 {
        left: 0;
        top: 11px;
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari and Chrome */
        animation-delay: 0.2695s;
        -webkit-animation-delay: 0.2695s;
    }

    .rotate-loader-con > .rotate-loader2 {
        left: 3px;
        top: 4px;
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
        animation-delay: 0.366s;
        -webkit-animation-delay: 0.366s;
    }

    .rotate-loader-con > .rotate-loader3 {
        left: 10px;
        top: 1px;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
        animation-delay: 0.4525s;
        -webkit-animation-delay: 0.4525s;
    }

    .rotate-loader-con > .rotate-loader4 {
        right: 3px;
        top: 4px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
        animation-delay: 0.549s;
        -webkit-animation-delay: 0.549s;
    }

    .rotate-loader-con > .rotate-loader5 {
        right: 0;
        top: 11px;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
        animation-delay: 0.6355s;
        -webkit-animation-delay: 0.6355s;
    }

    .rotate-loader-con > .rotate-loader6 {
        right: 3px;
        bottom: 3px;
        transform: rotate(135deg);
        -ms-transform: rotate(135deg); /* IE 9 */
        -webkit-transform: rotate(135deg); /* Safari and Chrome */
        animation-delay: 0.732s;
        -webkit-animation-delay: 0.732s;
    }

    .rotate-loader-con > .rotate-loader7 {
        bottom: 0;
        left: 10px;
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
        animation-delay: 0.8185s;
        -webkit-animation-delay: 0.8185s;
    }

    .rotate-loader-con > .rotate-loader8 {
        left: 3px;
        bottom: 3px;
        transform: rotate(-135deg);
        -ms-transform: rotate(-135deg); /* IE 9 */
        -webkit-transform: rotate(-135deg); /* Safari and Chrome */
        animation-delay: 0.905s;
        -webkit-animation-delay: 0.905s;
    }

@keyframes rotate-loader {
    0% {
        background-color: rgba(0,0,0,0.94);
    }

    100% {
        background-color: rgba(221,226,231,0.75);
    }
}

@-webkit-keyframes rotate-loader {
    0% {
        background-color: rgba(0,0,0,0.94);
    }

    100% {
        background-color: rgba(221,226,231,0.75);
    }
}
